@using Castle.Core.Internal
@model IEnumerable<GoedBezigWebApp.Models.ActivityTaskViewModels.ActivityTaskEditViewModel>
@{

    Layout = "_pannel";
}

@section Styles{
    <!--DataTables-->
    <link href="~/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />

}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Draaiboek Overzicht</h3>
        <a asp-action="Create" class="btn btn-default pull-right"><span class="fa fa-plus"></span> New</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Event</th>
                    <th>Users</th>
                    <th>From</th>
                    <th>Till</th>
                    <th>State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var at in Model)
                {
                    var Users = String.Join(",", at.Users);
                    <tr>
                        <td>@at.Description</td>
                        <td>@at.Activity</td>
                        <td>@Users</td>
                        
                        <td>@at.FromDate.ToString("d")</td>

                        <td>@at.ToDate.ToString("d")</td>
                        <td>
                            @switch (at.CurrentState.ToString())
                            {
                                case "Done":<small class="label pull-right bg-green">Done</small>
                                    break;
                                case "InProgress":<small class="label pull-right bg-yellow">In Progress</small>
                                    break;
                                case "ToDo":<small class="label pull-right bg-blue">To Do</small>
                                    break;
                            }



                        </td>
                        <td><a asp-action="Edit" asp-route-id=@at.Id><i class="fa fa-pencil"></i></a></td>


                    </tr>
                }

            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
@section Scripts {
    <script src="~/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script>
        $(document)
            .ready(function () {
                $('#example1').DataTable({
                    "order": [[2, 'asc']]
                });
            });
    </script>
}
