@using Castle.Core.Internal
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<GoedBezigWebApp.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["Group Index"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                               @Localizer["GroupName"]
            </th>
            <th>
                                @Localizer["CreationDate"]
            </th>
            <th>
                                @Localizer["Users"]
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (!Model.IsNullOrEmpty())
    {
        foreach (var item in Model)
         {
             <tr>
                 <td>
                     <a href=""> @Html.DisplayFor(modelItem => item.GroupName) </a>
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Timestamp)
                 </td>

                 <td>
                     @Html.DisplayFor(modelItem => item.Users)
                 </td>


                 <td>
                     
                         @Html.ActionLink("AddUser", "AddUser", new { id = item.GroupName })  |
                     
                     <a asp-action="Subscribe" asp-route-id="@item.GroupName">@Localizer["Subscribe"]</a> |
                     <a asp-action="Edit" asp-route-id="@item.GroupName">@Localizer["Edit"]</a> |
                     <a asp-action="Details" asp-route-id="@item.GroupName">@Localizer["Details"]</a> |
                     <a asp-action="Delete" asp-route-id="@item.GroupName">@Localizer["Delete"]</a>
                 </td>
             </tr>
         }
    }
    else { <tr><td colspan="3">No Groups to display</td></tr>}
    </tbody>
</table>