@model IEnumerable<GoedBezigWebApp.Models.Organization>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["title"]</h2>
<hr />
@if (ViewBag.User.Organization != null)
{
    <p class="importantMsg">You are currently part of the Organization "@ViewBag.User.Organization.Name"!</p>
}
<style>

    .organizationTable img {
        max-width: 100px;
        max-height: 100px;
    }
</style>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search name: <input type="text" name="searchName" value="@ViewData["searchName"]" />
            Search location: <select name="searchLocation" asp-for="@ViewData["searchLocation"]" asp-items="ViewBag.Cities">
                <option value="">---Select a city---</option>
            </select>
            @if (ViewBag.Group != null)
            {
                <input name="groupId" type="hidden" value="@ViewBag.Group.GroupName"/>
            }
            <input type="submit" value="Search" class="btn btn-default" />
            @if (ViewBag.Group == null)
            {
                <br />
                <a asp-action="Index">All GB Organizations</a><span> | </span>
                @Html.ActionLink("Ext. With Label", "Index", "Organization", new { isExternalWithLabel = true }) <span> | </span>
                @Html.ActionLink("Ext. Without Label", "Index", "Organization", new { isExternalWithoutLabel = true })

            }
        </p>
    </div>
</form>

<table class="table organizationTable">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Logo)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressLine1)<br />
                @Html.DisplayFor(modelItem => item.Address.AddressPostalCode) @Html.DisplayFor(modelItem => item.Address.AddressCountry)<br />
                @Html.DisplayFor(modelItem => item.Address.AddressCountry)
            </td>
            <td>
                @if (ViewBag.User.Organization == null && ViewBag.Group == null && ViewBag.isExternalWithLabel == false && ViewBag.isExternalWithoutLabel == false )
                {
                    @Html.ActionLink("Register", "Register", new { id = item.OrgId })
                }
                
                @if (ViewBag.Group != null)
                {
                   @Html.ActionLink("Assign GB Label", "AssignGBLabel", new { id = item.OrgId, groupId = ViewBag.Group.GroupName })
                }

            </td>
        </tr>
}
    </tbody>
</table>
