@model IEnumerable<GoedBezigWebApp.Models.Invitation>

@{
    ViewData["Title"] = "Invitations";
    Layout = "_pannel";
}

<h2>Invitations</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group.ClosedGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Group.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.ClosedGroup)
        </td>
        <td>
            @Html.ActionLink("", "Accept", new { id = item.GroupId }, new { @class = "fa fa-check" })
            @Html.ActionLink("", "Decline", new { id = item.GroupId }, new { @class = "fa fa-times" })
        </td>
    </tr>
}
    </tbody>
</table>
